mixin icon(iconName, iconClass)
	svg(class=`${iconClass}`)
		use(xlink:href=`./img/sprite.svg#${iconName}`)

mixin nav
	nav.nav#nav
		ul.nav__list
			each item in nav
				li.nav__item: a.nav__link(href=item.url class=currentURL == item.url ? 'active' : '')= item.title

mixin footer-nav
	nav.footer-nav
		ul.footer-nav__list
			each item in nav
				li.footer-nav__item: a.footer-nav__link(href=item.url class=currentURL == item.url ? 'active' : '')= item.title

mixin socials(className)
	div(class=className)
		ul(class=className + '__list')
			each social in socials
				li(class=className + '__item')
					a(href=social.url, class=className + '__link', target="_blank", rel="noopener")
						svg(class=className + '__icon')
							use(xlink:href=`./img/sprite.svg#${social.title}`)

mixin grid(className)
	div(class=className)
		ul(class=className + '__list')
			each item in grid
				li(class=className + '__item')
					a(class=className + '__link' href=item.url)
						picture
							source(class=className + '__img', type="image/webp" srcset=`img/brandslist/${item.img + '.webp'}`)
							img(class=className + '__img', src=`img/brandslist/${item.img + '.png'}`, alt=`${item.title}`)