mixin icon(iconName, iconClass)
	svg(class=`${iconClass}`)
		use(xlink:href=`./img/sprite.svg#${iconName}`)

mixin nav(className)
	nav(class="" + className)
		ul(class=className + "__list")
			each item in nav
				li(class=className + "__item"): a(href=item.url class=className + "__link")= item.title

mixin socials(className)
	div(class=className)
		ul(class=className + '__list')
			each social in socials
				li(class=className + '__item')
					a(href=social.url, class=className + '__link')
						svg(class=className + '__icon')
							use(xlink:href=`./img/sprite.svg#${social.title}`)

mixin brands(className)
	div(class=className)
		ul(class=className + '__list')
			each brand in brands
				li(class=className + '__item')
					a(href=brand.url, class=className + '__link')
						img(src=`img/brands/${brand.img}`, alt=`${brand.title}`, class=className + '__img')
						div(class=className + '__content')
							h2(class=className + '__title')= brand.title
							span(class=className + '__desc')= brand.description

mixin grid(className)
	div(class=className)
		ul(class=className + '__list')
			each item in grid
				li(class=className + '__item')
					img(class=className + '__img', src=`img/brandslist/${item.img}`, alt=`${item.title}`)