header.page-header
	picture
		source(type="image/webp" srcset=`img/${image}.webp`)
		source(type="image/jpeg" srcset=`img/${image}.jpeg`)
		img(src=`img/${image}.jpg`, alt=`${h1}`)
	h1.page-header__title #{h1}