block config
	include config.pug
	include common/mixins.pug

doctype html
html(lang=lang)
	head
		block metatags
			meta(charset="UTF-8")
			meta(name="viewport", content="width=device-width, initial-scale=1.0")
			meta(http-equiv="X-UA-Compatible", content="ie=edge")
			meta(name="description" content=desc)
			meta(name="p:domain_verify" content="bafb829bd45dd885a0b18efa1c1dd286")

			if iconspath
				link(rel="shortcut icon" href=iconspath + "/favicon.ico" type="image/x-icon")
				link(rel="apple-touch-icon" href=iconspath + "/apple-touch-icon.png")
				link(rel="apple-touch-icon" sizes="57x57" href=iconspath + "/apple-touch-icon-57x57.png")
				link(rel="apple-touch-icon" sizes="72x72" href=iconspath + "/apple-touch-icon-72x72.png")
				link(rel="apple-touch-icon" sizes="76x76" href=iconspath + "/apple-touch-icon-76x76.png")
				link(rel="apple-touch-icon" sizes="114x114" href=iconspath + "/apple-touch-icon-114x114.png")
				link(rel="apple-touch-icon" sizes="120x120" href=iconspath + "/apple-touch-icon-120x120.png")
				link(rel="apple-touch-icon" sizes="144x144" href=iconspath + "/apple-touch-icon-144x144.png")
				link(rel="apple-touch-icon" sizes="152x152" href=iconspath + "/apple-touch-icon-152x152.png")
				link(rel="apple-touch-icon" sizes="180x180" href=iconspath + "/apple-touch-icon-180x180.png")

		title #{title}
		block links
			link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet")
			link(rel="stylesheet", href=csspath + '/main.min.css?v=1.02')

	body

		<!-- Facebook Pixel Code -->
		script.
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '2736234140034515');
			fbq('track', 'PageView');

		noscript
			img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=2736234140034515&ev=PageView&noscript=1" alt="")
		<!-- End Facebook Pixel Code -->

		script.
			(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(57464050, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true });
		noscript
			div
				img(src="https://mc.yandex.ru/watch/57464050" style="position:absolute; left:-9999px;" alt="")

		.wrapper
			include includes/_header.pug

			block content

			include includes/_footer.pug
			include includes/_preloader.pug

		block scripts

			if jQuery
				script(src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous")

			script(src='js/script.min.js')
